<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% block meta %}{% endblock %}
    <title>{% block title %} Document {% endblock %}</title>
</head>
<body class="ml-5">
<h1 class="mb-3">QUESTION? BOX?</h1>
{% if user.is_authenticated %}
<div>Welcome to Question Box {{ user.username }}</div>
<a href="{% url 'auth_logout' %}">Log out</a>
{% endif %}
<div>this is base html</div>

<a href="{% url 'search' %}">Search Questions</a>

{% block content %}


{% endblock %}

</body>
</html>